@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,800;0,900;1,300&display=swap');

body {
    margin: 0;
    overflow: hidden;
    background-color: black;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    height: 60%;
    width: 80%;
    border-radius: 2rem;
    animation: boxAnimationIn 1.5s ease;
}

@keyframes boxAnimationOut {
    0% {
        bottom: auto;
        right: auto;
    }

    50% {
        color: transparent !important;
    }

    100% {
        /* transform: translateX(100%);
        transform: translateY(25rem); */
        top: 100%;
        left: 100%;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        color: transparent;
        background-color: transparent;
    }
}

@keyframes boxAnimationIn {
    0% {
        top: 100%;
        left: 100%;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        color: transparent;
    }

    50% {
        /* color: transparent !important; */
    }

    100% {
        bottom: auto;
        right: auto;
    }

    
}

.hide {
    display: none;
}

.opening_box {
    position: absolute;
    display: flex;
    flex-flow: column;
    background-color: #404040;
    width: 3rem;
    height: 2rem;
    right: .2rem;
    bottom: .2rem;
    gap: .4rem;
    cursor: pointer;
    border-radius: .4rem;
}

.hamburger {
    margin-left: .5rem;
    width: 2rem;
    background-color: grey;
    height: .25rem;
    transform: translateY(.6rem);
}


.box_container {
    margin-left: 2rem;
}

.subtitle {
    color: grey;
    font-size: .9rem;
    text-align: left;
    padding-left: .2rem;
    transform: translateY(-1rem)
}

.close {
    position: absolute;
    right: 3.5rem;
    top: 2.5rem;
    cursor: pointer;
}

.close_1 {
    position: absolute;
    width: 2rem;
    height: .25rem;
    background-color: grey;
    transform: rotate(-45deg);
}

.close_2 {
    position: absolute;
    width: 2rem;
    height: .25rem;
    background-color: grey;
    transform: rotate(45deg);
}

.close_area {
    position: absolute;
    width: 3rem;
    height: 3rem;
    bottom: -1.5rem;
    left: -.5rem;
    z-index: 500;
}

.close_text_box {
    position: absolute;
    top: .5rem;
    right: .1rem;
}

.close_triangle {
    position: absolute;
    bottom: -1.75rem;
    right: -1.7rem;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
}

.close_text {
    position: absolute;
    background-color: black;
    padding: .15rem;
    top: .75rem;
    right: -2.5rem;
    color: white;
    font-size: .9rem;
    font-weight: 600;
    border-radius: .25rem;
}


@media  screen and (max-width: 600px){
    h1 {
        font-size: 1.5rem;
    }

    .box {
        width: 90%;
    }

    .box_container {
        margin-top: 1rem;
        margin-left: 1.5rem;
    }

    .subtitle {
        font-size: .75rem;
        padding-right: 1.2rem;
    }
}